.cart-main {
  /* padding-top: 10vh; */
  padding: 10vh 8px;
}

.cart-item-container {
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;

  border: 1px solid red;
  border-radius: 18px;

  width: 100%;
}

.cart-item-container > * {
  /* border: 1px solid blue; */
  height: 100%;
  /* text-align: center; */
  /* vertical-align:middle; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-container > h3 {
  text-align: center;
  font-size: 1.25rem;
}

.cart-item-container > .cost-container {
  /* flex-direction: column; */
  gap: 10px;
}

.thumbnail-container {
  width: 50px;
  height: 50px;

  margin: 0 auto;
}

.thumbnail-container > img {
  max-width: 100%;
  max-height: 100%;
}