form.search-bar {
  /* height: 10%; */
  padding: 10px;
  display: flex;
  justify-content: center;
}

form.search-bar > label {
  width: max(200px, 80%);
}

form.search-bar > label > input {
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px 10px;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 20px;

  overflow-y: scroll;
}

.product-container > .product {
  border: 1px solid black;
  
  max-width: 300px;
}

.product-container > .product > .img-container {
  width:300px;
  height: 300px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container > .product > .img-container > img {
  max-width: 98%;
  max-height: 100%;
}

.product-container > .product > .product-info {
  padding: 8px;
}

.product-container > .product > .product-info > .product-price-container > .currency {
  vertical-align: super;
}

.product-container > .product > .product-info > .product-price-container > .product-price {
  font-size: 2rem;
}

.product-container > .product > .product-info > .product-title {
  margin: 8px 0;
}

.product-container > .product > .product-info > .submit-btn {
  width: 50%;
  padding: 10px 0;
  margin: 0 auto 2px;

  text-align: center;
  font-size: 14px;
  font-weight: 800;
  
  background-color: #e4d1b9;
  border: 2px solid #e4d1b9;
  
}

.product-container > .product > .product-info > .submit-btn:hover {
  background-color: white;
  
  transition-duration: .15s;
  
  cursor: pointer;
}

.product-container > .product > .product-info > .submit-btn:active {
  transition-duration: 0s;
  background-color: rgba(0,0,0,0.1);
}