.counter-container {
  display: flex;
  justify-content: center;
  gap:8px;

  /* border:1px solid red; */
  margin: 16px 0;
}

.button-container {
  width: 25px;
  height: 25px;
  
  border-radius: 50%;
  border: none;
}


.button-container > img {
  width: 100%;
  height: auto;
}

.button-container > img:hover {
  opacity: 0.8;
}