#nav-toggle {
  width: 35px;
  height: 35px;

  cursor: pointer;
  border: none;

  position: fixed;
  top: 15px;
  left: 10px;

  background-color: transparent;
}

#nav-toggle > .hamburger {
  display: block;
  
  width: 35px;
  height: 5px;
  
  background-color: black;
  border-radius: 10px;
  
  position: relative;

  transition-duration: .15s;
}

#nav-toggle > .hamburger.hamburger-close {
  background-color: transparent;
}

#nav-toggle > .hamburger > .lines:first-child,
#nav-toggle > .hamburger > .lines:last-child {
  display: block;

  position: absolute;

  width: 35px;
  height: 5px;

  background-color: black;

  content: "";

  border-radius: 10px;

  transition-duration: 0.5s;
}

#nav-toggle > .hamburger > .lines.top-normal {
  top: -10px;
}

#nav-toggle > .hamburger > .lines.top-close {
  transform: rotate(45deg);
  background-color: black;
  top:0;
}

#nav-toggle > .hamburger > .lines.bottom-normal {
  top: 10px;
}

#nav-toggle > .hamburger > .lines.bottom-close {
  transform: rotate(-45deg);
  background-color: black;
  top:0;
}