#nav-toggle {
  width: 35px;
  height: 35px;

  cursor: pointer;
  border: none;

  position: fixed;
  top: 15px;
  left: 10px;

  background-color: transparent;
}

#nav-toggle > .hamburger {
  display: block;
  
  width: 35px;
  height: 5px;
  
  background-color: black;
  border-radius: 10px;

  position: relative;
}

#nav-toggle > .hamburger > .lines:first-child,
#nav-toggle > .hamburger > .lines:last-child {
  display: block;

  position: absolute;

  /* width: var(--hamburger-width); */
  width: 35px;
  height: 5px;

  background-color: black;
  /* height: var(--hamburger-height); */

  content: "";

  /* background-color: white; */
  border-radius: 10px;

  /* transition-duration: var(--trans-duration); */
}

#nav-toggle > .hamburger > .lines.top-normal {
  top: -10px;
}

#nav-toggle > .hamburger > .lines.bottom-normal {
  top: 10px;
}