:root {
  --burger-length: 25px;
  --burger-thickness: 5px;
}

#nav-toggle {
  background-color: #fff;
  width: var(--burger-length);
  height: var(--burger-length);

  cursor: pointer;
  border: none;

  position: fixed;
  top: 20px;
  left: 10px;

  background-color: transparent;

  z-index: 1;
}

#nav-toggle > .burger-notify {
  width: 16px;
  height: 16px;
  
  position: fixed;
  background-color: white;
  border-radius: 50%;
}

#nav-toggle > .burger-notify > img {
  width: 100%;
  height: auto;
}

#nav-toggle > .hamburger {
  display: block;
  
  width: var(--burger-length);
  height: var(--burger-thickness);
  
  background-color: black;
  border-radius: 10px;
  
  position: relative;

  transition-duration: .15s;
}

#nav-toggle > .hamburger.hamburger-close {
  background-color: transparent;
}

#nav-toggle > .hamburger > .lines:first-child,
#nav-toggle > .hamburger > .lines:last-child {
  display: block;

  position: absolute;

  width: var(--burger-length);
  height: var(--burger-thickness);

  background-color: black;

  content: "";

  border-radius: 10px;

  transition-duration: 0.5s;
}

#nav-toggle > .hamburger > .lines.top-normal {
  top: -10px;
}

#nav-toggle > .hamburger > .lines.top-close {
  transform: rotate(45deg);
  background-color: black;
  top:0;
}

#nav-toggle > .hamburger > .lines.bottom-normal {
  top: 10px;
}

#nav-toggle > .hamburger > .lines.bottom-close {
  transform: rotate(-45deg);
  background-color: black;
  top:0;
}

